
module.exports = {

  ip: '127.0.0.1', // IP where this server listens
  port: 9999,
  tunnelIP: "172.20.0.1", // our tunnel subnet IP
  tunnelIPFrom: "172.20.0.10", // clients are given IPs in this space
  tunnelIPTo: "172.20.0.250", // up to and including this IP
  tunnelNetmask: 24,
  tunnelPortFrom: 8000,
  tunnelPortTo: 8500,

  // How often to check if client is responding in seconds
  // Must be at least 6
  // Note that the heartbeat is used only for cleanup of dead tunnels
  // when the client does _not_ reconnect, so keeping this value high is fine.
  // A value of 0 disables heartbeat.
  heartbeatInterval: 60,
  
  // Paths to optional user-defined scripts to call when a tunnel goes up and down
  // They receve as arguments:
  //   <tunnel_iface_name> <tunnel_iface_ip> <tunnel_iface_subnet> <tunnel_port>
  postUpHook: '',
  preDownHook: ''
  
};
