
module.exports = {

  ip: '127.0.0.1', // IP where this server listens
  port: 9999, // Port where this server listens
  tunnelIP: "172.20.0.1", // This computers IP on the tunnel subnet
  tunnelIPFrom: "172.20.0.10", // clients are given IPs in this space
  tunnelIPTo: "172.20.0.250", // up to and including this IP
  tunnelNetmask: 24, // Netmask for tunnel subnet
  tunnelPortFrom: 8000, // Start of port range for netcat UDP tunnel socket
  tunnelPortTo: 8500, // End of port range for netcat UDP tunnel socket

  // How often to check if client is responding in seconds
  // Must be at least 6
  // Note that the heartbeat is used only for cleanup of dead tunnels
  // when the client does _not_ reconnect, so keeping this value high is fine.
  // A value of 0 disables heartbeat.
  heartbeatInterval: 60,
  
  // Paths to optional user-defined scripts to call when a tunnel goes up and down
  // They receive as arguments:
  //   <tunnel_iface_name> <tunnel_iface_ip> <tunnel_iface_subnet> <tunnel_port>
  postUpHook: '',
  preDownHook: ''
  
};
